<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
  </head>
  <style>
    .container {
                margin-top: 20px;
                text-align: center;
                background-color: plum;
                padding: 20px;
                margin-left: 300px;
                margin-right: 300px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            }
  </style>
  <body>
    <form>
        <div class="container">
          <h1>REGISTER</h1>
          <label>FirstName</label><br>
          <input type="text" placeholder="firstName" id="firstName"name="firstName" [(ngModel)]="firstName"/><br>
          <label>LastName</label><br>
          <input type="text" placeholder="lastName" id="lastName" name="lastName" [(ngModel)]="lastName"/><br>
          <label>MobileNumber</label><br>
          <input type="text" placeholder="mobileNumber" id="mobileNumber" name="mobileNumber" [(ngModel)]="mobileNumber" /><br>
          <label>Address Line1</label><br>
          <input type="text" placeholder="addressLine1" id="addressLine1" name="addressLine1" [(ngModel)]="addressLine1" /><br>
          <label>Address Line2</label><br>
          <input type="text" placeholder="addressLine2" id="addressLine1" name="addressLine2" [(ngModel)]="addressLine2" /><br>
          <label>Password</label><br>
          <input type="password" placeholder="password" id="password" name="password" [(ngModel)]="password"/><br>
          <label>ReType Password</label><br>
          <input type="password" placeholder="password" id="password" /><br><br>
          <button mat-flat-button style="background-color: purple" type="button" (click)="register()">Register</button>
        </div>
    </form>
  </body>
</html>
