<html>
  <head>
    <title>REGISTER</title>
  </head>
  <style>
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-top: 20px;
    }
    .profile {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  </style>
  <body>
    <form (ngSubmit)="register()">
      <div class="container">
        <div class="container1">
          <img
            src="\assets\profile.webp"
            class="profile"
            alt="Profile Image"
          /><br />
          <button type="button" (click)="navigateToLogin()">LOGIN</button>
        </div>
        <div class="container2">
          <h1>REGISTER</h1>
          <label>FirstName</label><br>
          <input type="text" placeholder="firstName" id="firstName" /><br>
          <label>LastName</label><br>
          <input type="text" placeholder="lastName" id="lastName" /><br>
          <label>MobileNumber</label><br>
          <input type="text" placeholder="mobileNumber" id="mobileNumber" /><br>
          <label>Address Line1</label><br>
          <input type="text" placeholder="addressLine1" id="addressLine1" /><br>
          <label>Address Line2</label><br>
          <input type="text" placeholder="addressLine2" id="addressLine1" /><br>
          <label>Password</label><br>
          <input type="password" placeholder="password" id="password" /><br>
          <label>ReType Password</label><br>
          <input type="password" placeholder="password" id="password" /><br>
          <button type="button">Register</button>
        </div>
      </div>
    </form>
  </body>
</html>
