<html>
    <head>
        <title>Login</title>
    </head>
    <style>
     body{
        background-image: url(/projects/phonebook//public/assets/gif.jpg);
     }
    </style>
    <body>
      <form>
        <h1>REGISTER</h1>
        <label>FirstName</label>
        <input type="text" placeholder="firstName" id="firstName" >
        <label>LastName</label>
        <input type="text" placeholder="lastName" id="lastName" >
        <label>MobileNumber</label>
        <input type="text" placeholder="mobileNumber" id="mobileNumber" >
        <label>Address Line1</label>
        <input type="text" placeholder="addressLine1" id="addressLine1" >
        <label>Address Line2</label>
        <input type="text" placeholder="addressLine2" id="addressLine1" >
        <label>Password</label>
        <input type="password" placeholder="password" id="password" >
        <label>ReType Password</label>
        <input type="password" placeholder="password" id="password" >
        <input type="button" placeholder="Register" >
      </form>
    </body>
</html>