<html>
    <head>
        <title>Login</title>
        <style>
            .container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                margin-top: 20px;
            }
            .profile {
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        <div>
            <form (ngSubmit)="login()">
                <div class="container">
                    <div class="container1">
                        <img src="\assets\profile.webp" class="profile" alt="Profile Image"><br>
                        <button type="button"(click)="naviagtiontoRegister()">REGISTER</button>
                    </div>
                    <div class="container2">
                        <h1>LOGIN</h1>
                        <label for="mobilenumber">Mobile Number</label><br>
                        <input type="text" placeholder="mobileNumber" id="mobilenumber"><br>
                        <label for="password">Password</label><br>
                        <input type="password" placeholder="password" id="password"><br>
                        <button type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
