<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <style>
            .container {
                margin-top: 20px;
                text-align: center;
                background-color: plum;
                padding: 20px;
                margin-left: 300px;
                margin-right: 300px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            }
        </style>
    </head>
    <body>
            <form>
                <div class="container">
                   <h1>LOGIN</h1>
                     <label for="mobilenumber">Mobile Number</label><br>
                     <input type="text" placeholder="mobileNumber" id="mobileNumber"name="mobileNumber" [(ngModel)]="mobileNumber"><br>
                     <label for="password">Password</label><br>
                     <input type="password" placeholder="password" id="password" name="password" [(ngModel)]="password"><br><br>
                     <button mat-flat-button style="background-color: purple" type="submit" (click)="login()">Login</button>
                     <button mat-flat-button style="background-color: purple" type="submit" (click)="naviagtiontoRegister()">Register</button>
              </div>
            </form>
    </body>
</html>
