<html>
    <head>
        <title>Login</title>
    </head>
    <style>
     body{
        background-image: url(/projects/phonebook//public/assets/gif.jpg);
     }
    </style>
    <body>
      <form  (ngSubmit)="login()">
        <h1>LOGIN</h1>
        <label>MobileNumber</label>
        <input type="text" placeholder="mobileNumber" id="mobilenumber" >
        <label>password</label>
        <input type="password" placeholder="password" id="password" >
        <button>Login</button>
      </form>
    </body>
</html>