<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <style>
            .container {
                margin-top: 20px;
                text-align: center;
                background-color: plum;
                padding: 20px;
                margin-left: 300px;
                margin-right: 300px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            }
            .div{
              background-color: purple;
              color:white
            }
        </style>
    </head>
    <body>
            <form>
                <div class="container">
                   <h1>PROFILE</h1>
                   <div>
                    <button style="background-color: purple; margin-left: 5px; margin-right: 5px;" mat-flat-button type="button" (click)="setActiveTab('user')">My Profile</button>
                    <button style="background-color: purple; margin-left: 5px; margin-right: 5px;" mat-flat-button type="button" (click)="setActiveTab('familyandfriends')">Contacts</button>
                    <button style="background-color: purple; margin-left: 5px; margin-right: 5px;" mat-flat-button type="button" (click)="setActiveTab('plans')">Plans</button>
                    </div>
                    <br><br>
                    <div [ngSwitch]="activeTab">
                        <div *ngSwitchCase="'plans'">
                           <div *ngIf="list.plans!=null && list.plans.amount != 0; else activePlans">
                            <div>{{list.plans.planName}}</div><br>
                            <div>{{list.plans.amount}}</div><br>
                            <div>{{list.plans.Subscription}}</div><br>
                          </div>
                          <ng-template #activePlans>
                            <h1>There are no active plans!</h1>
                          </ng-template>
                        </div>
                        <div *ngSwitchCase="'familyandfriends'">
                          <div *ngFor="let item of list.familyAndFriends">
                              <div>{{item.firstName}} {{item.lastName}}</div><br>
                              <div>{{item.mobileNumber}}</div><br><br>
                          </div>
                        </div>
                        <div *ngSwitchDefault>
                           <div>{{list.user.firstName}} {{list.user.lastName}}</div><br>
                           <div>{{list.user.mobileNumber}}</div><br>
                           <div>{{list.user.addressLine1}} {{list.user.addressLine2}}</div><br>
                        </div>
                     </div>
                  </div>
            </form>
    </body>
</html>
