<html>
    <head>
        <title>FamilyAndFriends</title>
        <style>
            .container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                margin-top: 20px;
            }
            .profile {
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        <div>
            <form>
                <div class="container">
                    <div class="container1">
                        <img src="\assets\profile.webp" class="profile" alt="Profile Image"><br>
                        <button type="button"(click)="addNewContact()">REGISTER</button>
                    </div>
                    <div class="container2" >
                        <h1>CONTACTS</h1>
                    <table >
                      <thead>
                        <tr>ContactName</tr>
                        <tr>COntactNumber</tr>
                      </thead>
                      <tbody>
                        <td><button type="submit" (click)="editContact()">Edit</button></td>
                        <td> <button type="submit" (click)="deleteContact()">Delete</button></td>
                      </tbody>
                    </table>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
